.main {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: center;
}
.right {
  margin-left: 25%;
}

.left {
  margin-right: 25%;
}
